@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #00f5a0, #00d9f5);

    --background: 169 65% 3.84%;
    --foreground: 169 10% 97.4%;

    --muted: 169 50% 14.399999999999999%;
    --muted-foreground: 169 10% 54.8%;

    --popover: 169 45% 6.24%;
    --popover-foreground: 169 10% 97.4%;

    --card: 169 45% 6.24%;
    --card-foreground: 169 10% 97.4%;

    --border: 169 50% 14.399999999999999%;
    --input: 169 50% 14.399999999999999%;

    --primary: 169 100% 48%;
    --primary-foreground: 169 10% 4.8%;

    --secondary: 169 50% 14.399999999999999%;
    --secondary-foreground: 169 10% 97.4%;

    --accent: 169 50% 14.399999999999999%;
    --accent-foreground: 169 10% 97.4%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 169 10% 97.4%;

    --ring: 169 100% 48%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-primary text-5xl font-extrabold;
  }
  h2 {
    @apply text-primary text-4xl font-extrabold;
  }
  h3 {
    @apply text-primary text-3xl font-extrabold;
  }
  h4 {
    @apply text-primary text-2xl font-extrabold;
  }
  h5 {
    @apply text-primary text-xl font-extrabold;
  }
  h6 {
    @apply text-primary text-lg font-extrabold;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding: 14px;
  min-height: 100vh;
  color: #1e293b;
  gap: 14px;
}

header,
main,
footer {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

header a {
  color: inherit;
  text-decoration: none;
}

header {
  padding: 14px 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.postsContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 14px;
}

.postCard {
  padding: 14px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 14px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 14px;
  height: 100%;
  border: 1px solid transparent;
  transition-duration: 200ms;
}

.postCard:hover {
  border-color: #cbd5e1;
}

.postCard > p {
  flex: 1;
  color: #475569;
}

.statsContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 14px;
}

.unstyled {
  color: inherit;
  text-decoration: none;
}

article div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

article div ul {
  list-style-position: inside;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

@media (min-width: 640px) {
  body {
    padding: 24px;
    gap: 24px;
  }

  .postsContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
  }

  .postCard {
    padding: 24px;
  }
}
